* {
    box-sizing: border-box;
}

:root {
    --background-color-primary: #333;
    --font-color-primary: #f1f1f1;
    --background-color-secondary: #f1f1f1;
    --font-color-secondary: #333;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--background-color-primary);
    padding: 15px;
}

header input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: var(--font-color-primary);
    font-size: 19px;
}

main ul li {
    cursor: no-drop;
}